* {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section {
  display: block;
}
section {
  padding-bottom: 160px;
  padding-top: 50px;
}
.sec1 img {
  height: 60vh;
  width: 260vh;
}
.sec1 h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  color: black;
}

.sec2 h3 {
  text-align: center;
  color: white;
}
.sr-only {
  color: "black";
}
.sec2 h2 {
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.carousel-control-next-icon:after {
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  font-size: 55px;
  color: black;
}
h2 pre {
  background-color: tomato;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Josefin Sans";
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 8vh;
  min-height: 50px;
  transition: 0.5s ease;

  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  min-height: 50px;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo {
  color: rgb(223, 219, 219);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  vertical-align: middle;
  padding-left: 5vh;
}

.logo img {
  width: 10vh;
  height: 8vh;
}
.logo h3 {
  padding-top: 2vh;
  font-size: 4vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: honeydew;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: rgb(223, 219, 219);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .logo h3 {
    padding-top: 2vh;
    font-size: 3vh;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links a {
    color: honeydew;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.lowe {
  width: 100%;
  height: 100vh;
  background-color: wheat;
  background-size: cover;
}
#banner {
  width: 100%;
  height: 100%;
}
.lowe h2 {
  position: absolute;
  top: 30vh;
  left: 15vh;
  color: burlywood;
  font-size: 10vh;
}
.wrapname {
  width: 40%;
  height: auto;
  position: absolute;
  top: 30vh;
  left: 10vh;
  text-align: right;
  align-content: center;
}
.wrapname h3 {
  font-size: 65px;
  color: wheat;
}
.wrapname img {
  height: 15vh;
  width: 15vh;
}
/*nav*/

/*footer*/

footer {
  width: 100%;
  height: auto;
  background-color: rgb(27, 27, 27);
  bottom: 0px;
}
.upfooter {
  width: 100%;
  height: auto;
  text-align: center;
}
.upfooter p {
  color: white;
  font-size: 24px;
  padding: 20px 20px 20px 20px;
}

.mainfooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  justify-content: space-around;
}

@media screen and(max-width:1000px) {
  .mainfooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    justify-content: space-around;
  }
}
.box {
  width: 380px;
  height: 400px;
  color: whitesmoke;
  align-content: center;
  overflow: hidden;
  text-decoration: none;
}

.box p {
  font-size: 20px;
  color: gray;
}
.box hr {
  width: 50%;
  border: 2px solid orange;
  margin-bottom: 10px;
  margin-top: 10px;
}
.box img {
  height: 50px;
  width: 50px;
  padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 1000px) {
  .box {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    padding: 30px 30px 30px 30px;
    color: whitesmoke;
    align-content: center;
  }

  .box p {
    font-size: 16px;
    text-decoration: none;
  }
}

.middle {
  justify-content: space-around;
  align-content: center;
}
.middle ul li {
  list-style: none;
  padding-top: 10px;
  overflow: hidden;
}
.middle ul li a {
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
.middle ul li a:hover {
  color: orange;
}

ul {
  padding-top: 10px;
}
.right ul {
  list-style: none;
}
.right ul li {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: start;
}
.right ul li img {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.bottomfooter {
  width: 100%;
  height: auto;
  text-align: center;
  color: whitesmoke;
}
.bottomfooter p {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: grey;
}
.bottomfooter hr {
  border: 1px solid grey;
}

@media screen and (max-width: 1000px) {
  .box p {
    font-size: 12px;
    text-decoration: none;
  }
  .middle ul li a {
    font-size: 12px;
  }

  .right ul li {
    font-size: 12px;
  }

  .bottomfooter p {
    font-size: 12px;
  }
}
/*footer*/

#page {
  color: orange;
}
